<h3><%= @pergunta.pergunta %></h3>
<%= link_to image_tag('/assets/botao_sim.png'), sim_path(@pergunta), method: :post%>
<%= link_to image_tag('/assets/botao_nao.png'), nao_path(@pergunta), method: :post%>